@using EvaluationOfEffectivenessModul.Services.Models

<div class="jumbotron">
    <h1>Оценка эффективности инвестиций в информационную безопасность</h1>
    <form id="myForm" href="/Home" method="get">
        <table>
            <tr>
                <th>Актив</th>
                <th>Стоимость в процентах</th>
            </tr>


            @foreach (InformationAssets asset in ViewBag.assets)
            {
                <tr>
                    <td>@asset.name</td>
                    <td><input type="number" name="cost_@asset.type" value="@Request.QueryString["cost_"+asset.type]" min="1" max="100"></td>
                </tr>
            }
        </table>
        <label for="profit">Доход</label><input type="text" name="profit" value="@Request.QueryString["profit"]"><br />
        <label for="investments">Стоимость активов(процент от дохода)</label><input type="number" name="investments" value="@Request.QueryString["investments"]" min="1" max="100"><br />
        <label for="remedies">Стоимость средств защиты(процент от стоимости активов)</label><input type="number" name="remedies" value="@Request.QueryString["remedies"]" min="1" max="100"><br />
        <label for="r">Ставка дисконтирования</label><input type="number" name="r" value="@Request.QueryString["r"]" min="1" max="100"><br />


        <input name="calculate" type="submit" />
    </form>
    @if ("Отправить".Equals(@Request.QueryString["calculate"]))
    {
        <table>
            <tr>
                <th>Актив</th>
                <th>Стоимость в процентах</th>
                <th>Стоимость в грн</th>
                <th>Затраты на разроботку СЗИ</th>
            </tr>

            @foreach (InformationAssets asset in ViewBag.assets)
            {
                <tr>
                    <td>@asset.name</td>
                    <td>@Request.QueryString["cost_" + asset.type]</td>
                    <td>@asset.cost</td>
                    <td>@asset.investment</td>
                </tr>
            }
        </table>

        <table>
            <tr>
                <th>Актив</th>
                <th>Czs</th>
                <th>ALE</th>
                <th>NPVzbtzi</th>
                <th>NPVzvtzi</th>
                <th>ROSI</th>
            </tr>

            @foreach (InformationAssets asset in ViewBag.assets)
            {
            <tr>
                <td>@asset.name</td>
                <td>@asset.cost</td>
                <td>@asset.ALE</td>
                <td>@asset.NPVbzi</td>
                <td>@asset.NPVszi</td>
                <td>@asset.ROSI</td>
            </tr>
            }
        </table>

        <table>
            <tr>
                <th>Актив</th>
                <th>OU</th>
                <th>M</th>
                <th>Wc</th>
                <th>Wi</th>
                <th>Wa</th>
                <th>Wau</th>
            </tr>

            @foreach (InformationAssets asset in ViewBag.assets)
            {
            <tr>
                <td>@asset.name</td>
                <td>@asset.OU</td>
                <td>@asset.M</td>
                <td>@asset.Wc</td>
                <td>@asset.Wi</td>
                <td>@asset.Wa</td>
                <td>@asset.Wau</td>
            </tr>
            }
        </table>


        <div>Calculate start</div>
    }
</div>

